@media(max-width: 575px){
	.menu{
		position: inherit;
	}
	.menu a{
		width: 100%;
		padding: 20px 0;
	}
	.zubki{
		background-position: left 0;
	}
	.corona{
		background-attachment: scroll;
	}
	.shop{
		padding: 10px;
		position: relative;
		bottom: 0;
		display: inline-block;
		left: 5px;
	}
	.SUPER_IRA{
	

	}
	.infa{
		width: 300px;
	}
	.glaza img{
		width: 0;
		height: 0;
	}
	.shkola{
		position:relative;
		left: 0;
		display: inline;
		margin: 0;
	}
	.contanier{
	display: inline-block;
	}
	.items img{
	width: 200px;
	height: 150px;
	margin-right: 100%;

	}
	.items h2{
	position: relative;
	top: 130px;
	left: 100px;
	height: 70px;
	border-radius: 10px 0 10px 10px;
	}
	.zubrichi{
	background-color:#F5B0A1 ;
	border-radius: 10px 0 0 10px;
	position: relative;
	left: 0;
	}
	.items{
	display: flex;
	justify-content: right;
	}
	h2 p{
		opacity: 0.0;
	}
	.stranica3 a{
		padding: 10px;
		left: 0;
	}